<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yzdsmart.Dingdingwen">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="false"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <!-- Required -->
    <permission
        android:name="${applicationId}.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />
    <!-- Required  一些系统要求的权限，如访问网络等-->
    <uses-permission android:name="${applicationId}.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />

    <!-- 允许程序打开网络套接字权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 保持屏幕常亮所需权限 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <!-- 读取手机联系人信息所需权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 向SD卡写入文件所需权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 读取SD卡状态所需权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 读取或更改系统设置 所需权限 -->
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <!-- 读取或更改系统设置 所需权限 -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- 手机震动所需权限 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 创建和删除文件所需权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 调用系统窗口所需权限 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!-- 用户定位所需权限 -->
    <!-- 这个权限用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- 允许程序修改全局音频设置 比如说：存储位置 -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <!-- 录制语音权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 这个权限用于访问摄像头-->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 手机开启闪光灯所需权限 -->
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/app_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".splash.SplashActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Splash_Style">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".main.MainActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:launchMode="singleTop" />

        <service android:name=".service.RefreshAccessTokenService" />

        <activity
            android:name=".register_login.login.LoginActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:launchMode="singleTop" />

        <activity
            android:name=".register_login.verify_phone.VerifyPhoneActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:launchMode="singleTop" />

        <activity
            android:name=".register_login.agreement.AgreementActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:launchMode="singleTop" />

        <activity
            android:name=".register_login.verify_code.VerifyCodeActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:launchMode="singleTop" />

        <activity
            android:name=".register_login.set_password.SetPasswordActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:launchMode="singleTop" />

        <activity
            android:name=".register_login.set_info.SetInfoActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:launchMode="singleTop" />

        <activity
            android:name=".personal.PersonalActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:launchMode="singleTop" />

        <activity
            android:name=".edit_personal_info.EditPersonalInfoActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:launchMode="singleTop" />

        <activity
            android:name=".withdrawals_log.WithDrawLogActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:launchMode="singleTop" />

        <activity
            android:name=".focused_shop.FocusedShopActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:launchMode="singleTop" />

        <activity
            android:name=".register_business.RegisterBusinessActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:launchMode="singleTop" />

        <activity
            android:name=".buy_coins.BuyCoinsActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:launchMode="singleTop" />

        <activity
            android:name=".publish_tasks.PublishTasksActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:launchMode="singleTop" />

        <activity
            android:name=".publish_tasks_log.PublishTasksLogActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:launchMode="singleTop" />

        <activity
            android:name=".money_friendship.MoneyFriendshipActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:launchMode="singleTop" />

        <activity
            android:name=".scan_coin.QRScannerActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:launchMode="singleTop" />

        <activity
            android:name=".personal_friend_detail.PersonalFriendDetailActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:launchMode="singleTop" />

        <activity
            android:name=".settings.SettingsActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:launchMode="singleTop" />

        <activity
            android:name=".friend_future.FriendFutureActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:launchMode="singleTop" />

        <activity
            android:name=".search_friend.SearchFriendActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:launchMode="singleTop" />

        <activity
            android:name=".money_friendship.friend_list.profile.ProfileActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:launchMode="singleTop" />

        <activity
            android:name=".money_friendship.friend_list.add.AddFriendActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:launchMode="singleTop" />

        <activity
            android:name=".chat.ChatActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:launchMode="singleTop" />

        <activity
            android:name=".chat.image_preview.ImagePreviewActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:launchMode="singleTop" />

        <activity
            android:name=".chat.image_view.ImageViewActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:launchMode="singleTop" />

        <activity
            android:name=".chat.video_view.VideoViewActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:launchMode="singleTop" />

        <activity
            android:name=".money_friendship.group_list.search.SearchGroupActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:launchMode="singleTop" />

        <activity
            android:name=".money_friendship.group_list.profile.GroupProfileActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:launchMode="singleTop" />

        <activity
            android:name=".money_friendship.group_list.edit.EditActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:launchMode="singleTop" />

        <activity
            android:name=".money_friendship.group_list.apply.ApplyGroupActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:launchMode="singleTop" />

        <activity
            android:name=".money_friendship.group_list.create.CreateGroupActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:launchMode="singleTop" />

        <activity
            android:name=".money_friendship.group_list.choose.ChooseFriendActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:launchMode="singleTop" />

        <activity
            android:name=".money_friendship.group_list.member.GroupMemberActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:launchMode="singleTop" />

        <activity
            android:name=".shop_details.ShopDetailsActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:launchMode="singleTop" />

        <activity
            android:name=".crop.ImageCropActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:launchMode="singleTop" />

        <activity android:name="com.soundcloud.android.crop.CropImageActivity" />

        <activity
            android:name=".scan_coin_log.ScanCoinsLogActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:launchMode="singleTop" />

        <activity
            android:name=".galley.GalleyActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:launchMode="singleTop" />

        <activity
            android:name=".shop_focuser.ShopFocuserActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:launchMode="singleTop" />

        <activity
            android:name=".withdrawals.WithDrawActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:launchMode="singleTop" />

        <activity
            android:name=".edit_shop_info.EditShopInfoActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:launchMode="singleTop" />

        <activity
            android:name=".shop_scanned_log.ShopScannedLogActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:launchMode="singleTop" />

        <activity
            android:name=".card_bag.CardBagActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:launchMode="singleTop" />

        <activity
            android:name=".bind_bank_card.BindBankCardActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:launchMode="singleTop" />

        <activity
            android:name=".payment.PaymentActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:launchMode="singleTop" />

        <activity
            android:name=".coupon_exchange.CouponExchangeActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:launchMode="singleTop" />

        <activity
            android:name=".payment_log.PaymentLogActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:launchMode="singleTop" />

        <activity
            android:name=".coupon_log.CouponLogActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:launchMode="singleTop" />

        <activity
            android:name=".time_keeper.TimeKeeperActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:launchMode="singleTop" />

        <activity
            android:name=".game_details.GameDetailsActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:launchMode="singleTop" />

        <!--图片预览界面-->
        <activity
            android:name=".views.photo_picker.picker.activity.BGAPhotoPreviewActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/BGAPPTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <!--图片选择界面-->
        <activity
            android:name=".views.photo_picker.picker.activity.BGAPhotoPickerActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/BGAPPTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <!--图片选择预览界面-->
        <activity
            android:name=".views.photo_picker.picker.activity.BGAPhotoPickerPreviewActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/BGAPPTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <!--图片选择预览界面-->
        <activity
            android:name=".views.photo_picker.picker.activity.BGAPhotoViewActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/BGAPPTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <!--高德地图开始-->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="298bb350c2abe358cc51fd634bcc81fc"></meta-data>
        <service android:name="com.amap.api.location.APSService"></service>
        <!--高德地图结束-->

        <!--腾讯聊天开始-->
        <!-- 消息收发service -->
        <service
            android:name="com.tencent.qalsdk.service.QalService"
            android:exported="false"
            android:process=":QALSERVICE" />
        <service
            android:name="com.tencent.qalsdk.service.QalAssistService"
            android:exported="false"
            android:process=":QALSERVICE" />
        <!-- 离线消息广播接收器 -->
        <receiver
            android:name="com.tencent.qalsdk.QALBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.tencent.qalsdk.broadcast.qal" />
            </intent-filter>
        </receiver>
        <!-- 系统消息广播接收器 -->
        <receiver
            android:name="com.tencent.qalsdk.core.NetConnInfoCenter"
            android:process=":QALSERVICE">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.TIME_SET" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
            </intent-filter>
        </receiver>
        <!--腾讯聊天结束-->

        <!--腾讯开放平台开始-->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1105651765" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!--腾讯开放平台结束-->

        <!--微博开放平台开始-->
        <!-- 必须注册在微博授权，分享微博时候用到 -->
        <!--<activity-->
        <!--android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser"-->
        <!--android:configChanges="keyboardHidden|orientation"-->
        <!--android:exported="false"-->
        <!--android:windowSoftInputMode="adjustResize" />-->
        <!--微博开放平台结束-->

        <!--微信开放平台开始-->
        <!--<activity-->
        <!--android:name=".wxapi.WXEntryActivity"-->
        <!--android:exported="true"-->
        <!--android:label="@string/app_name" />-->
        <!--微信开放平台结束-->

        <meta-data
            android:name="WEIBO_APPKEY"
            android:value="1371063102" />
        <meta-data
            android:name="WEIBO_CHANNEL"
            android:value="weibo" />

        <!--极光推送开始-->
        <!-- Rich push 核心功能 since 2.0.6-->
        <activity
            android:name="cn.jpush.android.ui.PopWinActivity"
            android:exported="false"
            android:theme="@style/MyDialogStyle"></activity>

        <!-- Required SDK核心功能-->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="${applicationId}" />
            </intent-filter>
        </activity>
        <!-- Required  SDK核心功能-->
        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false"></service>

        <!-- Required SDK 核心功能-->
        <!-- 可配置android:process参数将PushService放在其他进程中 -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>

        <!-- since 1.8.0 option 可选项。用于同一设备中不同应用的JPush服务相互拉起的功能。 -->
        <!-- 若不启用该功能可删除该组件，将不拉起其他应用也不能被其他应用拉起 -->
        <service
            android:name="cn.jpush.android.service.DaemonService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.DaemonService" />
                <category android:name="${applicationId}" />
            </intent-filter>

        </service>

        <!-- Required SDK核心功能-->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />   <!--Required  显示通知栏 -->
                <category android:name="${applicationId}" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- Required SDK核心功能-->
        <receiver
            android:name="cn.jpush.android.service.AlarmReceiver"
            android:exported="false" />

        <!-- User defined.  For test only  用户自定义的广播接收器-->
        <receiver
            android:name=".jpush.MyReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" /> <!--Required  用户注册SDK的intent-->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> <!--Required  用户接收SDK消息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> <!--Required  用户接收SDK通知栏信息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> <!--Required  用户打开自定义通知栏的intent-->
                <action android:name="cn.jpush.android.intent.ACTION_RICHPUSH_CALLBACK" /> <!--Optional 用户接受Rich Push Javascript 回调函数的intent-->
                <action android:name="cn.jpush.android.intent.CONNECTION" /><!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver>
        <!-- Required Enable it you can get statistics data with channel -->
        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="developer-default" />
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="086f9d75e3409649b4551b10" /> <!--值来自开发者平台取得的AppKey-->
        <!--极光推送结束-->

        <!--ping++开始-->
        <!-- Ping++ SDK -->
        <activity
            android:name="com.pingplusplus.android.PaymentActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- 微信支付 -->
        <activity-alias
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:targetActivity="com.pingplusplus.android.PaymentActivity" />

        <!-- 支付宝 -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"></activity>
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"></activity>

        <!-- 银联支付 sdk -->
        <activity
            android:name="com.unionpay.uppay.PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize" />
        <!--ping++结束-->

        <!--ShareSDK开始-->
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <!-- QQ和QQ空间分享 QQ登录的回调必须要配置的 -->
            <intent-filter>
                <data android:scheme="tencent1105651765" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- 新浪微博客户端分享回调必须配置 -->
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!--微信分享回调 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!--ShareSDK结束-->

        <!-- 友盟配置APP ID -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="58251f48cae7e712470021e0" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" />
    </application>

</manifest>