<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yzdsmart.Collectmoney">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <!-- 允许程序打开网络套接字权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 保持屏幕常亮所需权限 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 读取手机联系人信息所需权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 向SD卡写入文件所需权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 读取SD卡状态所需权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 读取或更改系统设置 所需权限 -->
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <!-- 读取或更改系统设置 所需权限 -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- 手机震动所需权限 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 创建和删除文件所需权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 调用系统窗口所需权限 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!-- 用户定位所需权限 -->
    <!-- 这个权限用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- 允许程序修改全局音频设置 比如说：存储位置 -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <!-- 录制语音权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 这个权限用于访问摄像头-->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 手机开启闪光灯所需权限 -->
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/app_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".splash.SplashActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityImageTranslucentTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".main.MainActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:launchMode="singleTop"
            android:theme="@style/ActivityColorTranslucentTheme" />

        <activity
            android:name=".login.LoginActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:launchMode="singleTop"
            android:theme="@style/LoginActivityColorTranslucentTheme" />

        <activity
            android:name=".register_forget_password.verify_phone.VerifyPhoneActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:launchMode="singleTop"
            android:theme="@style/LoginActivityColorTranslucentTheme" />

        <activity
            android:name=".register_forget_password.verify_code.VerifyCodeActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:launchMode="singleTop"
            android:theme="@style/LoginActivityColorTranslucentTheme" />

        <activity
            android:name=".register_forget_password.set_password.SetPasswordActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:launchMode="singleTop"
            android:theme="@style/LoginActivityColorTranslucentTheme" />

        <activity
            android:name=".register_business.RegisterBusinessActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:launchMode="singleTop"
            android:theme="@style/ActivityColorTranslucentTheme" />

        <activity
            android:name=".buy_coins.BuyCoinsActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:launchMode="singleTop"
            android:theme="@style/ActivityColorTranslucentTheme" />

        <activity
            android:name=".publish_tasks.PublishTasksActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:launchMode="singleTop"
            android:theme="@style/ActivityColorTranslucentTheme" />

        <activity
            android:name=".publish_tasks_log.PublishTasksLogActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:launchMode="singleTop"
            android:theme="@style/ActivityColorTranslucentTheme" />

        <activity
            android:name=".money_friendship.MoneyFriendshipActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:launchMode="singleTop"
            android:theme="@style/ActivityColorTranslucentTheme" />

        <activity
            android:name=".qr_scan.QRScannerActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:launchMode="singleTop"
            android:theme="@style/ActivityColorTranslucentTheme" />

        <activity
            android:name=".personal_friend_detail.PersonalFriendDetailActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:launchMode="singleTop"
            android:theme="@style/ActivityColorTranslucentTheme" />

        <activity
            android:name=".settings.SettingsActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:launchMode="singleTop"
            android:theme="@style/ActivityColorTranslucentTheme" />

        <activity
            android:name=".friend_future.FriendFutureActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:launchMode="singleTop"
            android:theme="@style/ActivityColorTranslucentTheme" />

        <activity
            android:name=".search_friend.SearchFriendActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:launchMode="singleTop"
            android:theme="@style/ActivityColorTranslucentTheme" />

        <activity
            android:name=".money_friendship.friend_list.profile.ProfileActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:launchMode="singleTop"
            android:theme="@style/ActivityColorTranslucentTheme" />

        <activity
            android:name=".money_friendship.friend_list.add.AddFriendActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:launchMode="singleTop"
            android:theme="@style/ActivityColorTranslucentTheme" />

        <activity
            android:name=".chat.ChatActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:launchMode="singleTop"
            android:theme="@style/ActivityColorTranslucentTheme" />

        <activity
            android:name=".chat.image_preview.ImagePreviewActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:launchMode="singleTop"
            android:theme="@style/ActivityColorTranslucentTheme" />

        <activity
            android:name=".chat.image_view.ImageViewActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:launchMode="singleTop"
            android:theme="@style/ActivityColorTranslucentTheme" />

        <activity
            android:name=".chat.video_view.VideoViewActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:launchMode="singleTop"
            android:theme="@style/ActivityColorTranslucentTheme" />

        <activity
            android:name=".money_friendship.group_list.search.SearchGroupActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:launchMode="singleTop"
            android:theme="@style/ActivityColorTranslucentTheme" />

        <activity
            android:name=".money_friendship.group_list.profile.GroupProfileActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:launchMode="singleTop"
            android:theme="@style/ActivityColorTranslucentTheme" />

        <activity
            android:name=".money_friendship.group_list.edit.EditActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:launchMode="singleTop"
            android:theme="@style/ActivityColorTranslucentTheme" />

        <activity
            android:name=".money_friendship.group_list.apply.ApplyGroupActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:launchMode="singleTop"
            android:theme="@style/ActivityColorTranslucentTheme" />

        <activity
            android:name=".money_friendship.group_list.create.CreateGroupActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:launchMode="singleTop"
            android:theme="@style/ActivityColorTranslucentTheme" />

        <activity
            android:name=".money_friendship.group_list.choose.ChooseFriendActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:launchMode="singleTop"
            android:theme="@style/ActivityColorTranslucentTheme" />

        <activity
            android:name=".money_friendship.group_list.member.GroupMemberActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:launchMode="singleTop"
            android:theme="@style/ActivityColorTranslucentTheme" />

        <activity
            android:name=".shop_details.ShopDetailsActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:launchMode="singleTop"
            android:theme="@style/ActivityColorTranslucentTheme" />

        <activity
            android:name=".crop.ImageCropActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:launchMode="singleTop"
            android:theme="@style/ActivityColorTranslucentTheme" />

        <activity android:name="com.soundcloud.android.crop.CropImageActivity" />

        <activity
            android:name=".personal_coin_list.PersonalCoinsActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:launchMode="singleTop"
            android:theme="@style/ActivityColorTranslucentTheme" />

        <activity
            android:name=".galley.UploadGalleyActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:launchMode="singleTop"
            android:theme="@style/ActivityColorTranslucentTheme" />

        <!--腾讯聊天开始-->
        <!-- 消息收发service -->
        <service
            android:name="com.tencent.qalsdk.service.QalService"
            android:exported="false"
            android:process=":QALSERVICE" />
        <service
            android:name="com.tencent.qalsdk.service.QalAssistService"
            android:exported="false"
            android:process=":QALSERVICE" />
        <!-- 离线消息广播接收器 -->
        <receiver
            android:name="com.tencent.qalsdk.QALBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.tencent.qalsdk.broadcast.qal" />
            </intent-filter>
        </receiver>
        <!-- 系统消息广播接收器 -->
        <receiver
            android:name="com.tencent.qalsdk.core.NetConnInfoCenter"
            android:process=":QALSERVICE">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.TIME_SET" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
            </intent-filter>
        </receiver>
        <!--腾讯聊天结束-->

        <!--定位服务-->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote"></service>

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="G0dSaiav5Weoy8nPIAze1svuYgYxpFUo" />

        <!-- 配置APP ID -->
        <meta-data
            android:name="BUGLY_APPID"
            android:value="1400013572" />
        <!-- 配置APP版本号 -->
        <meta-data
            android:name="BUGLY_APP_VERSION"
            android:value="2.2.2" />
        <!-- 配置Bugly调试模式（true或者false）-->
        <meta-data
            android:name="BUGLY_ENABLE_DEBUG"
            android:value="false" />
    </application>

</manifest>